
body {
    background-color: rgba(142, 5, 101, 0.235);
}
.container{
    padding-top: 70px;
    background-image: url("../img/Design.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 900px;
    background-size: 100% 105%;
}

header {
    width: 900px;
    background-color: rgba(49, 49, 49, 0.726);
    padding: 5px;
    position: fixed;
    top: 0;
}
header figure img {
    width: 55px;
    margin: 0px 80px;
}

main{}
main .p1{
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0 10px;
}
main .p2 {
    font-size: 18px;
    font-weight: 700;
    margin: 22px 0;
}
main p { 
color: white;
font-size: 40px;
font-family: Arial;
text-align: center;
}
main p strong {
    font-size: 55px;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
main .btn1 {
    margin: 25px 36%;
    padding: 14px 49px;
    font-size: 18px;
    color: #f370ac;
    font-weight: 600;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
}
main button {
padding:20px;
border:none;
font-size: 20px;
font-family: Arial;
border-radius: 20px;
margin: 0 40%;
}
main section {
    background-color: white;
    padding: 0px 70px  60px ;
    margin-top: 50px;
}
main section h1{}
main section h2{
    text-align: center;
    font-family: arial;
    font-weight: 900;
    font-size: 30px;
    padding: 20px 0px;
}
main section ul {
    display: flex;
    align-items: center;
}
main section ul li {
margin-left:10px;
text-align: center;
width: 210px;
height: 211px;
}
main section ul li img {
    width: 150px;
}
main section ul li .txt {
    font-size: 14px;
    color: black;
    font-weight: 900;
    margin: 10px 0;
}
main section ul li span {
font-size: 12px;
color: #828282;
font-family: Arial, Helvetica, sans-serif;
} 

footer {
    background-color: black;
    width: 900px;
    height: 60px;
}


