
body {
    background-color: rgba(142, 5, 101, 0.235);
}
.container{
    padding-top: 60px;
    background-image: url("../img/desing.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1200px;
    background-size: 100% 105%;
}

header {
    width: 1200px;
    background-color: rgba(49, 49, 49, 0.726);
    padding: 15px;
    position: fixed;
    top: 0;
}
header figure img {}

main{}
main p { 
color: white;
font-size: 40px;
font-family: Arial;
text-align: center;
margin: 20px;
}
main p strong {}
main button {
padding:20px;
border:none;
font-size: 20px;
font-family: Arial;
border-radius: 20px;
margin: 0 40%;
}
main section {
    background-color: white;
    padding: 60px 15px;
    margin-top: 50px;
}
}
}
main section h1{}
main section h2{}
main section ul {
    display: flex;
    align-items: center;
    margin: 0 54px;
}
main section ul li {
margin-left:10px;
text-align: center;
}
main section ul li img {
    width: 110px;
}
main section ul li p {
font-size: 30px;
}
main section ul li .txt {
    font-size: 15px;
    color: black;
    margin: 10px;
}
main section ul li span {
font-size: 25px;
} 

footer {}


